<div class="row">
    <div class="col-md-12">
        <div class="row m-b-10">
            <div class="col-md-12">
                <button mat-raised-button color="primary" class="m-r-10" (click)="addPaperUserPermission()">
                    <mat-icon>person_add</mat-icon>
                    {{ 'ASSIGN_SHARE_WITH_USERS' | translate }}
                </button>
                <button mat-raised-button color="accent" (click)="addPaperRolePermission()">
                    <mat-icon>group_add</mat-icon>
                    {{ 'ASSIGN_SHARE_WITH_ROLES' | translate }}
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="permissionsDataSource" class="mat-elevation-z8 w-100">

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn"
                            (click)="element.type === 'User' ? deleteUserPermission(element) : deleteRolePermission(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="isAllowDownload">
                    <th mat-header-cell *matHeaderCellDef> {{ 'ALLOW_DOWNLOAD' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ (element.isAllowDownload ? 'YES' : 'NO') | translate }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> {{ 'TYPE' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.type | translate }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'NAME' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> {{ 'EMAIL' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.email || '-' }} </td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'START_DATE' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ (element.startDate | date: 'dd/MM/yyyy') || '-' }} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'END_DATE' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ (element.endDate | date: 'dd/MM/yyyy') || '-' }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>