<div class="row">
    <div class="col-md-12">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <div class="row">
                <div class="col-md-10">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{ 'COMMENT' | translate }}</mat-label>
                        <textarea matInput formControlName="comment"></textarea>
                        <mat-error *ngIf="commentForm.get('comment').hasError('required')">
                            {{ 'COMMENT_IS_REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2 p-t-15">
                    <button mat-raised-button color="primary" type="submit">
                        <mat-icon>add</mat-icon>
                        {{ 'ADD' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'COMMENT' | translate }}</th>
                        <th>{{ 'CREATED_BY' | translate }}</th>
                        <th>{{ 'CREATED_DATE' | translate }}</th>
                        <th>{{ 'ACTION' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of paperComments">
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.createdBy }}</td>
                        <td>{{ comment.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td>
                            <button mat-icon-button color="warn" (click)="onDelete(comment.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="paperComments.length === 0">
                        <td colspan="4" class="text-center">{{ 'NO_DATA_FOUND' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>