<div class="premium-wrapper">
  <div class="file-preview-toolbar d-flex">
    <span class="file-name flex-grow-1">{{ paperInfo?.name }}</span>

    <div class="toolbar-actions">
      <button mat-icon-button (click)="download()" [matTooltip]="'DOWNLOAD' | translate">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </div>

  <div class="content-container">
    <div *ngIf="isLoading" class="preview-loader">
      <mat-spinner diameter="50"></mat-spinner>
      <p>{{ 'GENERATING_PREVIEW' | translate }}</p>
    </div>

    <ng-container *ngIf="!isLoading">
      <div class="premium-native-view">
        <app-paper-editor [data]="editorData" [readOnly]="true" [paperId]="paperId"
          [mode]="paperInfo?.contentType === 'DOC' ? 'DOC' : 'SHEET'">
        </app-paper-editor>
      </div>
    </ng-container>
  </div>
</div>
