<div class="workspace-page">
  <div class="workspace-bar">
    <mat-form-field appearance="outline">
      <mat-label>Workspace</mat-label>
      <mat-select [(ngModel)]="rootId" (selectionChange)="loadTree()">
        <mat-option [value]="''">Workspace</mat-option>
        <mat-option *ngFor="let r of roots" [value]="r.id">{{r.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Search</mat-label><input matInput [(ngModel)]="search"></mat-form-field>
    <button mat-stroked-button (click)="togglePanel()">{{ panelExpanded ? 'Hide Navigator' : 'Show Navigator' }}</button>
  </div>

  <div class="navigator" *ngIf="panelExpanded && root">
    <div class="shortcuts">
      <strong>Favorites</strong>
      <button class="chip" *ngFor="let f of favorites" (click)="onSelect(f)">{{f.title}}</button>
      <strong>Recents</strong>
      <button class="chip" *ngFor="let r of recents" (click)="onSelect(r)">{{r.title}}</button>
    </div>

    <ng-template #renderNode let-node let-parent="parent">
      <div class="node-row" [class.selected]="selectedNode?.id === node.id">
        <button mat-icon-button *ngIf="node.nodeType === 'folder' || node.nodeType === 'workspace_root'" (click)="node.expanded=!node.expanded"><mat-icon>{{node.expanded ? 'expand_more':'chevron_right'}}</mat-icon></button>
        <span (click)="onSelect(node)">{{node.title}}</span>
        <button mat-icon-button [matMenuTriggerFor]="structureMenu"><mat-icon>account_tree</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="actionsMenu"><mat-icon>more_vert</mat-icon></button>

        <mat-menu #structureMenu="matMenu">
          <div class="menu-block" (click)="$event.stopPropagation()">
            <mat-form-field><mat-label>Document</mat-label><mat-select [(ngModel)]="selectedDocumentId"><mat-option [value]="''">Document</mat-option><mat-option *ngFor="let d of assignedDocuments" [value]="d.id">{{d.name}}</mat-option></mat-select></mat-form-field>
            <button mat-button (click)="addDocument(node)">+</button>
            <mat-form-field><mat-label>Paper</mat-label><mat-select [(ngModel)]="selectedPaperId"><mat-option [value]="''">Paper</mat-option><mat-option *ngFor="let p of myPapers" [value]="p.id">{{p.name}}</mat-option></mat-select></mat-form-field>
            <button mat-button (click)="addPaper(node)">+</button>
            <mat-form-field><mat-label>Folder</mat-label><input matInput [(ngModel)]="folderName"></mat-form-field>
            <button mat-button (click)="addFolder(node)">+</button>
            <button mat-button color="warn" (click)="structuralDelete(node)">Delete</button>
          </div>
        </mat-menu>

        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="toggleFavorite(node)">Favorite / Unfavorite</button>
          <button mat-menu-item (click)="moveToSelectedFolder(node)">Move to selected folder</button>
        </mat-menu>
      </div>
      <div class="children" *ngIf="node.expanded" cdkDropList [cdkDropListData]="filteredChildren(node)" (cdkDropListDropped)="dropSiblings($event,node)">
        <div *ngFor="let child of filteredChildren(node)" cdkDrag>
          <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: child, parent: node }"></ng-container>
        </div>
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: root, parent: null }"></ng-container>
  </div>

  <div class="content">
    <h3 *ngIf="!selectedNode">Select a node</h3>
    <div *ngIf="selectedNode?.nodeType === 'document_link'">Document ID: {{selectedNode?.contentRef}}</div>
    <div *ngIf="selectedNode?.nodeType === 'paper_link'">Paper ID: {{selectedNode?.contentRef}}</div>
    <div *ngIf="selectedNode?.nodeType === 'folder'">Folder selected.</div>
  </div>
</div>
